/*******************************/
/*Variables*/
/*******************************/

:root {
  --main-font-color: rgb(204, 204, 204);
  --main-font-hover-color: whitesmoke;
  --main-page-max-width: 1200px;
  --main-input-color: rgb(64, 111, 240);
  --hoover-input-colour: rgb(90, 128, 231);
  --test-var: 100%
}

/*******************************/
/*Reset*/
/*******************************/

*,
*::before,
*::after {
  /* ::before and ::after selectors insert elements before or after each specified element*/
  /*This block is a RESET that makes sure that browsers’ differences in their default rendering of HTML can’t ruin the styling */
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  box-sizing: border-box; /* padding+content+margin+etc will be equal with width*/
}

body {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  /* Monserrat is the main font, sans-serif is the backup*/
  color: var(--main-font-color);
  background-color: black;
  text-rendering: optimizeLegibility;
}

/*******************************/
/*Header style*/
/*******************************/

header {
  /*Here we have two backgrounds. One gradient and one image.*/
  /*Linear-gradient is like a plexy glass. It transits from the 1st color to the 2nd.*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url(../images/night.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center, bottom;
  min-width: var(--main-page-max-width);
  padding-top: 2rem;
  position: relative;
}

.header-nav {
  max-width: var(--main-page-max-width);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.tagline {
  width: var(--main-page-max-width);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  font-size: 3rem;
}

h1 {
  font-size: 5rem;
  font-weight: 200;
  letter-spacing: 1px;
  word-spacing: 4px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links a {
  color: var(--main-font-color);
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 1rem;
  font-weight: 600;
}

.nav-links a:hover {
  color: var(--main-font-hover-color);
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.7);
  border-bottom: 2px solid var(--main-font-hover-color);
  /*transition: underline appears 1s after hover event*/
  transition: border-bottom, 0.1s;
}
.btn {
  display: inline-block;
  padding: 1rem 2rem;
  color: var(--main-input-color);
  text-decoration: none;
  font-weight: 600;
  border: 2px solid var(--main-input-color);
  box-shadow: 2px 2px 6px rgba(56, 66, 207, 0.4);
  margin: 0.5rem;
  /*Set how the cursor should appear upon hoovering*/
  cursor: pointer;
}

.btn.btn-full {
  color: var(--main-font-color);
  background-color: var(--main-input-color);
}

.btn:hover,
.btn-full:hover {
  background-color: var(--hoover-input-colour);
  border: 2px solid var(--hoover-input-colour);
  color: var(--main-font-color);
  box-shadow: 2px 2px 6px rgba(56, 66, 207, 0.9);
  transition: background-color 0.25s, border 0.25s, color 0.25s;
  box-shadow: 0.25s;
}

/*******************************/
/*General section style*/
/*******************************/

section {
  max-width: var(--main-page-max-width);
  margin: 0 auto;
  font-size: 2rem;
}

section h2 {
  margin: 2rem 0 1rem;
}

/*******************************/
/*Experience style*/
/*******************************/

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container > div {
  /* Every div that is a direct children (nested) of a container element*/
  width: 270px;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container img {
  /* Every image that is in an element with a container class*/
  height: 200px;
  margin: 0.5rem 0;
}

.container p {
text-align: center;
}

/*******************************/
/*Project-list style*/
/*******************************/

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-container {
  width: 25%;
  margin: 20px 2%;
}

.project__img {
  width: 100%;
}

section h3 {
  margin: 10px 0;
}

/*******************************/
/*Contact form style*/
/*******************************/

.contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/contact.png);
  background-size: cover;
  background-position: center, bottom;
  box-shadow: 0 0 100px 100px black inset;
}

.contact-form {
  width: 50%;
  margin: 0 auto;
}

.contact-form__input {
  border: none;
  background: none;
  color: var(--main-input-color);
  border-bottom: 1px solid var(--main-input-color);
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
}

textarea.contact-form__input {
  border: 1px solid var(--main-input-color);
  height: 225px;
  overflow: hidden;
}

.contact-form__submit {
  background: none;
  margin: 12px 0;
  cursor: pointer;
}

/*******************************/
/*Footer style*/
/*******************************/

footer {
  text-align: center;
  margin: 2rem;
  font-size: 1.5rem;
}

.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.footer-links a {
  color: var(--main-font-color);
  text-decoration: none;
  margin: 0 1rem;
}

.footer-links a:hover {
  color: var(--main-font-hover-color);
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.7);
  transition: border-bottom, 0.1s;
}
